@charset "UTF-8";
*{margin: 0; padding: 0;
box-sizing:border-box;}

.container{border: 2px solid #000;background-color: aquamarine; 
  display: flex;}
  
.container .item{border: 2px solid #888;
  background-color: rgb(248, 144, 165);}


  /* 줄넘김처리 */
flex-wrap: wrap;

/* 메인축 방향과, 줄넘김 축약형
flex-flow : row wrap; 
flex-flow : row nowrap; */

/*   display: inline-flex; */
/* flex-direction:row  기본값 부모한테주는명령어 
flex-direction: column;기본값 부모한테주는명령어
flex-direction: row-reverse;  기본값부모한테주는명령어
flex-direction: column-reverse; 기본값부모한테주는명령어}  */