@charset "UTF-8";
*{margin: 0; padding: 0;
box-sizing:border-box;}
body{display: flex;
justify-content: center;
align-items: center;
height: 100vh;}

.container{width: 500px;height: 500px; border: 2px solid #000;background-color: aquamarine;
  display: flex; justify-content: center; align-items: center; 
 }
  
.container .item{border: 2px solid #888;
  background-color: rgb(248, 144, 165);
width: 200px; height: 200px;}

